*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff url(imagens/fundo.png) repeat-x;
}

#container{
    width: 750px;
    margin: auto;
    
}

#topo{
    height: 150px;
    background: url(imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
    border: 1px solid red;
}

.logo{
    width: 152px;
    height: 66pc;
    background: url(imagens/logo.png) no-repeat center top;
    text-indent: -3000px;
}
/* Formatar barra de navegacao */

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#navegacao{
    border: 1px solid red;
}